<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-2 mb-5 mb-md-0 mt-3 mb-md-0">
                <div class="ph-nav__logo">
                    <img src="/assets/icons/logo/logo_green.svg" alt="logo" title="">
                    <p class="ml-2">Péhápkaři</p>
                </div>
            </div>

            <div class="col-12 col-sm-10">
                <ul id="socials" class="pull-right">
                    <li>
                        <a href="https://facebook.com/pehapkari">
                            <em class="fab fa-2x fa-facebook"></em>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/pehapkari">
                            <em class="fab fa-2x fa-twitter"></em>
                        </a>
                    </li>

                    <li>
                        <a href="https://meetup.com/friends-of-php-prague/">
                            <em class="fab fa-2x fa-meetup"></em>
                            <p>Praha</p>
                        </a>
                    </li>

                    <li>
                        <a href="https://meetup.com/Pehapkari-Brno/">
                            <em class="fab fa-2x fa-meetup"></em>
                            <p>Brno</p>
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/pehapkari">
                            <em class="fab fa-2x fa-github"></em>
                        </a>
                    </li>

                    <li class="hidden-sm-down">
                        <a href="https://pehapkari.slack.com">
                            <em class="fab fa-2x fa-slack"></em>
                        </a>
                        <p>
                            <a href="https://pehapkari.herokuapp.com/">Pozvi se</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="footer_body">
            <div class="row">
                <div class="col-12 col-md-6 pb-3 pb-md-0">
                    <p class="mb-2">Web Péhápkaři.cz pohání <a href="https://symfony.com/">Symfony</a> a najdeš ho na <a href="https://github.com/pehapkari/pehapkari.cz">Githubu</a>.</p>
                </div>
                <div class="col-12 col-md-6">
                    <p>
                        Našel jsi chybu? → <a href="{{ github_edit_url() }}">Staň se slavným</a>
                    </p>
                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-6">
{#                                <a class="ph-footer__body-menu-item-subtitle-link" href="#">Chcete sraz?</a>#}
{#                                #}{# {{ @todo přesuout nabídkový list sem - FB post, newsletter a meetup }} #}
                    {#                        #}{#<li><a href="{{ path('become_trainer') }}">Začni taky školit</a></li>#}

                    <h3>O nás</h3>

                    <ul class="bottom_menu">
                        <li>
                            <a href="{{ path('contact') }}">Kontakt</a>
                        </li>

                        <li>
                            <a href="{{ path('privacy_policy') }}">Ochrana soukromí</a>
                        </li>

                        <li>
                            <a href="{{ path('for_speakers') }}">Pro speakry</a>
                        </li>

                        <li>
                            <a href="{{ path('rss') }}">RSS blogu</a>
                        </li>

                        <li>
                            <a href="http://bit.ly/pehapkari-newsletter">Sleduj Newsletter</a>
                        </li>
                    </ul>
                </div>

                <div class="col-6">
                    <h3>Pracuj</h3>

                    <ul class="bottom_menu">
                        <li>
                            <a href="{{ path('become_trainer') }}">Začni školit</a>
                        </li>

                        <li>
                            <a href="{{ path('sponsoring') }}">Zvyditelněte svou firmu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{# to highlight code in blog posts and trainings #}
<script src="{{ asset('build/js/app.js') }}"></script>

{# this is the only way that makes jquery work here, webpack encore some-how fucks up #}
<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

{# https://github.com/mattboldt/typed.js/ #}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    $('document').ready(function() {
        var typed = new Typed('#typed',{
            stringsElement: '#typed-strings',
            typeSpeed: 50,
            backDelay: 1400,
        });
    });
</script>

<script src="{{ asset('assets/prism/prism.js') }}"></script>
