<header>
    {# normal menu #}
    <div class="hidden-sm-down">
        <div class="container-fluid">
            <a href="/"><img src="{{ asset('/assets/images/logo-header.svg') }}" alt="" height="50"></a>

            <nav class="navbar top-navigation">
                <!-- inspired and taken from: https://github.com/yegor256/blog/blob/master/_layouts/default.html -->
                <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" class="col-md-6 pull-right mr-2">
                    <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                    <input name="sitesearch" value="pehapkari.cz" type="hidden"/>
                    <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search with Google..." autocomplete="off"/>
                </form>

                <a href="{{ path('blog') }}" class="{{ active_item(['blog', 'post']) }}">
                    <em class="fa fa-newspaper fa-fw"></em>
                    &nbsp;
                    Blog
                </a>

                &nbsp;
                &nbsp;

                <a href="{{ path('trainings') }}" class="{{ active_item(['trainings', 'training-detail']) }}">
                    <em class="fa fa-graduation-cap fa-fw"></em>
                    &nbsp;
                    Školení
                </a>
            </nav>
        </div>
    </div>

    {# mobile menu #}
    <div id="mobile-menu" class="row text-center hidden-md-up">
        <div class="container">
            <a href="/" class="col-4 col-sm-4 {% if id is defined and id == 'index' %}active{% endif %}">
                <em class="fa fa-home"></em>
                <br>
                Home
            </a>
            <a href="{{ path('blog') }}" class="col-4 col-sm-4 {% if (id is defined and id == 'blog') or (layout is defined and layout == '_layouts/post.twig') %}active{% endif %}">
                <em class="fa fa-book fa-fw"></em>
                <br>
                Blog
            </a>
            <a href="{{ path('trainings') }}" class="col-4 col-sm-4 {% if id is defined and id == 'trainings' %}active{% endif %}">
                <em class="fa fa-graduation-cap fa-fw"></em>
                <br>
                Školení
            </a>
        </div>
    </div>
</header>
