<header>
    {# normal menu #}
    <div class="hidden-sm-down">
        <div class="container-fluid">
            <a href="/"><img src="{{ asset('/assets/images/logo-header.svg') }}" alt="" height="50"></a>
            <nav class="navbar float-right">
                <ul>
                    <li id="top-menu-search">
                        <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
                            <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                            <input name="sitesearch" value="pehapkari.cz" type="hidden"/>
                            <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Napiš co hledáš..." autocomplete="off"/>
                        </form>
                    </li>

                    <li>
                        <a href="{{ path('blog') }}" class="{{ active_item(['blog', 'post']) }}">
                            Blog
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('trainings') }}" class="{{ active_item(['trainings', 'place_detail', 'training_detail']) }}">
                            Školení
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('videos') }}" class="{{ active_item(['videos', 'livestream', 'video_detail']) }}">
                            Videa
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    {# mobile menu #}
    <div id="mobile-menu" class="row text-center hidden-md-up">
        <div class="container">
            <a href="/" class="col-4 col-sm-4 {% if id is defined and id == 'index' %}active{% endif %}">
                <em class="fa fa-home"></em>
                <br>
                Home
            </a>
            <a href="{{ path('blog') }}" class="col-4 col-sm-4 {% if (id is defined and id == 'blog') or (layout is defined and layout == '_layouts/post.twig') %}active{% endif %}">
                <em class="fa fa-book fa-fw"></em>
                <br>
                Blog
            </a>
            <a href="{{ path('trainings') }}" class="col-4 col-sm-4 {% if id is defined and id == 'trainings' %}active{% endif %}">
                <em class="fa fa-graduation-cap fa-fw"></em>
                <br>
                Školení
            </a>
        </div>
    </div>
</header>
