<nav id="ph-nav" class="navbar fixed-top navbar-expand navbar-light bg-light ph-nav border-bottom hidden-sm-down">
    <div class="container">
        <a class="ph-nav__logo" href="{{ path('homepage') }}">
            <img src="{{ asset('assets/pehapkari_logo/logo.svg') }}" alt="logo" title="">
            <br>
            <p>Péhápkaři</p>
        </a>

        <div id="top-menu-search" class="hidden-md-down">
            {% include "_snippets/search_form.twig" %}
        </div>

        <ul class="navbar-nav ml-auto hidden-sm-down" id="menu">
            <li>
                <a class="{{ active_item(['trainings', 'training_detail', 'place_detail', 'registration']) }}" href="{{ path('trainings') }}">
                    Školení
                </a>
            </li>
            <li>
                <a class="{{ active_item(['videos', 'livestream', 'video_detail', 'videos_php_prague']) }}" href="{{ path('videos') }}">
                    Videa
                </a>
            </li>
            <li>
                <a class="{{ active_item(['blog', 'post']) }}" href="{{ path('blog') }}">
                    Blog
                </a>
            </li>
            <li class="pr-0">
                <a class="{{ active_item('contact') }}" href="{{ path('contact') }}">
                    Kontakt
                </a>
            </li>
        </ul>
    </div>
</nav>

{# mobile menu #}
<div id="mobile-menu" class="row ml-0 mr-0 text-center hidden-md-up border-bottom">
    <a href="/" class="ph-nav__logo col-3 {{ active_item('homepage') }}">
        <img src="/assets/pehapkari_logo/logo.svg" alt="logo" title="">
    </a>

    <a href="{{ path('trainings') }}" class="col-3 {{ active_item(['trainings', 'become_trainer', 'training_detail'])}}">
        Školení
    </a>
    <a href="{{ path('videos') }}" class="col-3 {{ active_item(['videos', 'livestream', 'videos_php_prague', 'video_detail']) }}">
        Videa
    </a>
    <a href="{{ path('blog') }}" class="col-3 {{ active_item(['blog', 'post_detail'])}}">
        Blog
    </a>
</div>
