{% extends 'base.twig' %}

{% block main %}
    <div class="homepage" id="page">
        <div class="container">
            <div class="ph-heading">
                <div class="row">
                    <div class="col-xl-7">
                        <h1>
                            Děláš&nbsp;v&nbsp;PHP?<br>
                            Jsi&nbsp;jedním&nbsp;z&nbsp;nás
                        </h1>

                        <img src="/assets/images/slon/basic.png" alt="Slon" class="main-logo">

                        <p class="mb-3">
                            Na <strong>PHP</strong> běží <a href="https://w3techs.com/technologies/details/pl-php/all/all">79 % všech webů</a>.
                        </p>

                        <p>
                            Tady najdeš komunitu lidí, kteří jej mají rádi a pracují s ním.
                            <br>
                            Můžeš mezi <strong>nimi najít nové přátele</strong> s podobnými zájmy,
                            <br>ukážou ti <strong>moderní technologie</strong>, které ti usnadní práci,
                            <br>
                            a nebo tu <strong>najdeš novou práci</strong> s fajn lidmi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="ph-heading__background">
            </div>
        </div>

        <br>
        <br>

        {# add section with videos and top 5 viewed ones #}

        <div class="background-grey section">
            <div class="container">
                <h2 class="mb-5">Kdy a kde se potkáváme?</h2>

                <div class="row">
                    <div class="col-md-7 text-center hidden-sm-down">
                        {# @todo friendsofphp.org/ meetup.com info here #}
                        {# https://friendsofphp.org/api/meetups.json #}
                        <img src="/assets/images/meetup_2.jpg" alt="Přijď na sraz" class="mb-4">
                    </div>

                    <div class="col-md-5">
                        <p>
                            Srazy pořádají <a href="/#team">různé skupiny v 6 městech</a> České Republiky. Typický sraz začíná v 18&nbsp;hod., pak promluví 2&nbsp;speakři a nakonec jdeme diskutovat nad pivem.
                        </p>

                        {% if nearest_meetup %}
                            <div class="card mt-4 shadow-card">
                                <div class="card-body pb-3">
                                    <h3 class="mt-1">Kdy je další?</h3>

                                    <ul>
                                        <li>
                                            <a href="{{ nearest_meetup.url }}">{{ nearest_meetup.startDateTime|date }}</a>,

                                            <strong>{{ nearest_meetup.name }}</strong> - {{ nearest_meetup.city }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <h3 class="mt-4">Kde se o nich dozvíš?</h3>

                        <p>
                            Všechny meetupy najdeš na <a href="https://www.facebook.com/pehapkari/events">Facebooku</a> nebo
                            {# see https://stackoverflow.com/questions/12497130/how-to-escape-twig-delimiters-in-a-twig-template #}
                            <a href='https://friendsofphp.org/?bounds={{ '{' }}%22_southWest%22:{{ '{' }}%22lat%22:47.89,%22lng%22:12.58{{ '}' }},%22_northEast%22:{{ '{' }}%22lat%22:51.92,%22lng%22:18.51{{ '}' }}{{ '}' }}'>Friends&nbsp;of&nbsp;PHP</a>.
                        </p>

                        <br>

                        <div class="card shadow-card">
                            <div class="card-body">
                                <h3 class="mt-1">Nestihls poslední meetup?</h3>
                                <p>
                                     Máš štěstí, <strong>všechny meetupy nahráváme</strong>
                                </p>

                                <div class="text-center d-block">
                                    <a href="{{ path('videos') }}" class="btn btn-danger mt-3">
                                        <em class="fab fw-fw fa-youtube"></em>
                                        &nbsp;
                                        Přehraj si záznam
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center" id="team">
            <h2 class="mb-5">Bez týmu aktivních lidí by to nešlo!</h2>

            <div class="row" id="organizers">
                {% for organizer in organizers %}
                    <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-5">
                        {% set photoUrl %}{% if organizer.photo matches "#http#" %}{{ organizer.photo }}{% else %}/assets/images/people/{{ organizer.photo }}{% endif %}{% endset %}

                        <img src="{{ photoUrl }}" class="rounded-circle" width="150" height="150">

                        <h3 class="mt-3">
                            {% if organizer.url is defined %}<a href="{{ organizer.url }}">{% endif %}
                                {{ organizer.name }}
                                {% if organizer.url is defined %}</a>{% endif %}
                        </h3>

                        <p>
                            {{ organizer.responsibility|raw }}
                        </p>
                    </div>
                {% endfor %}

                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-5">

                    <img src="/assets/images/people/blank_face.jpg" class="rounded-circle" width="150" height="150">
                    <h3 class="mt-3">
                        Ty?
                    </h3>
                    <p>
                        <a href="{{ path('contact') }}">Přidej se!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
