{% extends 'base.twig' %}

{% set page_title = "D캩l치코 v PHP? Jsi jedn칤m z n치s" %}

{% block main %}
    <div class="container text-center">
        <h1 id="main_headline">
            D캩l치코&nbsp;v&nbsp;PHP?<br>
            Jsi&nbsp;jedn칤m&nbsp;z&nbsp;n치s
        </h1>

        <img src="{{ asset('assets/pehapkari_logo/logo_green_blue.svg') }}" alt="Slon" id="main_logo">

        <p class="submain_headline">
            Na <strong>PHP</strong> b캩쮂 <a href="https://w3techs.com/technologies/details/pl-php/all/all">
                79 % v코ech web콢
            </a>
            &nbsp;
            游꿀
        </p>

        <div id="welcome_image" class="shadow">
            <img src="{{ asset('assets/images/homepage/homepage.jpg') }}">
        </div>

        <p class="submain_headline">
            Tady najde코 komunitu lid칤, kte콏칤 maj칤 PHP r치di a pracuj칤 s n칤m ka쬯칳 den.
        </p>

        <p class="submain_headline">
            Najde코 <strong>mezi n치mi nov칠 p콏치tele</strong> s podobn칳mi z치jmy,
            <br>uk치쬰me ti <strong>modern칤 technologie</strong>, kter칠 ti usnadn칤 pr치ci,
            <br>
            a nebo tu <strong>objev칤코 novou pr치ci</strong> s fajn lidmi.
        </p>
    </div>

    {# @todo show 3 nerest trainings #}
    {#        {% set displayedLectureCount = 3 %}#}
    {#{% for lecture in trainings %}#}
    {#{% if lecture.isActive() and displayedLectureCount <= 3 %}#}
    {#{% if displayedLectureCount == 0 %}#}
    {#<strong>Nejbli쮄뫆 코kolen칤</strong>:<br>#}
    {#{% endif %}#}

    {#<a href="/{{ lecture|link }}/">{{ lecture.getHumanDate() }} - {{ lecture.getTitle()|raw }}</a>{% if loop.last == false %}<br>{% endif %}#}
    {#{% set displayedLectureCount = displayedLectureCount + 1 %}#}
    {#{% endif %}#}
    {#{% endfor %}#}

    {# @todo add section with videos and top 5 viewed ones #}

    <div class="background-grey section">
        <div class="container">
            <h2 class="mb-5">Potk치v치me se</h2>

            <div class="row">
                <div class="col-md-7 text-center hidden-sm-down">
                    <img src="/assets/images/meetup_2.jpg" alt="P콏ij캞 na sraz" class="mb-4">
                </div>

                <div class="col-md-5">
                    <p>
                        Srazy po콏치daj칤 <a href="/#team">r콢zn칠 skupiny v 6 m캩stech</a> 캛esk칠 Republiky. Typick칳 sraz za캜칤n치 v 18&nbsp;hod., pak promluv칤 2&nbsp;speak콏i a nakonec jdeme diskutovat nad pivem.
                    </p>

                    {% if nearest_meetup %}
                        <div class="card mt-4 shadow-card">
                            <div class="card-body pb-3">
                                <h3 class="mt-1">Kdy bude dal코칤?</h3>

                                <ul>
                                    <li>
                                        <a href="{{ nearest_meetup.url }}">{{ nearest_meetup.startDateTime|date }}</a>,

                                        <strong>{{ nearest_meetup.name }}</strong> - {{ nearest_meetup.city }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <h3 class="mt-4">Kde se o nich dozv칤코?</h3>

                    <p>
                        V코echny meetupy najde코 na <a href="https://www.facebook.com/pehapkari/events">Facebooku</a> nebo
                        {# see https://stackoverflow.com/questions/12497130/how-to-escape-twig-delimiters-in-a-twig-template #}
                        <a href='https://friendsofphp.org/?bounds={{ '{' }}%22_southWest%22:{{ '{' }}%22lat%22:47.89,%22lng%22:12.58{{ '}' }},%22_northEast%22:{{ '{' }}%22lat%22:51.92,%22lng%22:18.51{{ '}' }}{{ '}' }}'>Friends&nbsp;of&nbsp;PHP</a>.
                    </p>

                    <br>

                    <div class="card shadow-card">
                        <div class="card-body">
                            <h3 class="mt-1">Nestihls posledn칤 meetup?</h3>
                            <p>
                                 M치코 코t캩st칤, <strong>v코echny meetupy nahr치v치me</strong>
                            </p>

                            <div class="text-center d-block">
                                <a href="{{ path('videos') }}" class="btn btn-danger mt-3">
                                    <em class="fab fw-fw fa-youtube"></em>
                                    &nbsp;
                                    P콏ehraj si z치znam
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center" id="team">
        <h2 class="mb-5">Bez t칳mu aktivn칤ch lid칤 by to ne코lo!</h2>

        <div class="row" id="organizers">
            {# @var organizer \Pehapkari\ValueObject\Organizer #}
            {% for organizer in organizers %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-5">
                    {% set photoUrl %}{% if organizer.photo matches "#http#" %}{{ organizer.photo }}{% else %}/assets/images/people/{{ organizer.photo }}{% endif %}{% endset %}

                    <img src="{{ photoUrl }}" class="rounded-circle" width="150" height="150">

                    <h3 class="mt-3">
                        {% if organizer.url is defined %}<a href="{{ organizer.url }}">{% endif %}
                            {{ organizer.name|raw }}
                            {% if organizer.url is defined %}</a>{% endif %}
                    </h3>

                    <p>
                        {{ organizer.responsibility|raw }}
                    </p>

                    {% if organizer.company is defined %}
                        {% if organizer.company_url is defined %}<a href="{{ organizer.company_url }}">{% endif %}
                        <strong>{{ organizer.company }}</strong>
                        {% if organizer.company_url is defined %}</a>{% endif %}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="col-lg-3 col-md-4 col-sm-4 col-6 mb-5">
                <img src="/assets/images/people/blank_face.jpg" class="rounded-circle" width="150" height="150">
                <h3 class="mt-3">
                    Ty?
                </h3>
                <p>
                    <a href="{{ path('contact') }}">P콏idej se!</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
