{% extends "base.twig" %}

{% block main %}
    {# @var \Symplify\Statie\Renderable\File\PostFile post #}
    <div class="container" id="article">
        <div class="page-header">
            <h1>{{ post.title }}</h1>
        </div>

            <strong>
                {% if post.author matches '#^\\d+$#' %}
                    {{ authors[post.author].name }}
                {% else %}
                    {{ post.author }}
                {% endif %}
            </strong>

            &nbsp;

            <time datetime="{{ post.getDateInFormat('Y-m-D') }}">
                    {{ post.getDateInFormat('j. n. Y') }}
            </time>

            <br>

            <div id="article-content">
                <p class="perex">{{ post.perex|raw }}</p>
                {{ post.content|raw }}
            </div>
        </div>

        <br>

        {% set relatedPosts = (post|related_items) %}

        {% if relatedPosts|length %}
            <div class="intermezzo mb-3">
                <div class="container">
                    <h2>Continue Reading</h2>

                    <ul id="related-posts">
                        {% for relatedPost in relatedPosts %}
                            <li>
                                <a href="/{{ relatedPost|link }}/">{{ relatedPost.title }} &raquo;</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="container">
            {% include "_snippets/disqus_comments.twig" %}
        </div>

        <br>
    </div>

{#    <script id="dsq-count-scr" src="https://{{ disqus_name }}.disqus.com/count.js" async defer></script>#}
{% endblock %}
