<div class="blockquote shadow-sm">
    „{{ feedback.text }}“

    {% if feedback.rating %}
        <div class="pull-right rating_stars {% if feedback.text|length > 30 %}mt-3{% endif %}">
            {% for i in 1..feedback.rating %}
                <em class="fas fa-star text-warning"></em>
            {% endfor %}
        </div>
    {% endif %}

    <div class="clearfix"></div>
</div>

<span class="arrow"></span>

<p class="text-left ml-4">
    {% if feedback.isAgreedWithPublishingName %}
        {% if feedback.url %}<a href="{{ feedback.url }}">{% endif %}
        {{ feedback.name }}
        {% if feedback.url %}</a>{% endif %}
    {% else %}
        Účastník školení :)
    {% endif %}

    {% if show_training_name %}
        o <a href="{{ path('training_detail', {'slug': feedback.training.slug }) }}">
            {{ feedback.training.name }}
        </a>
    {% endif %}
</p>
