{% if detail is not defined %}
    {% set detail = false %}
{% endif %}

<q class="blockquote">{{ feedback.text }}</q>
<span class="arrow"></span>

{% if feedback.ratingContent %}
    <div class="mb-3 text-smaller">
        {% for i in 1..feedback.ratingContent %}
            <em class="fas fa-2x fa-star text-warning"></em>
        {% endfor %}
    </div>
{% endif %}

<p class="text-left ml-4">
    {% if feedback.isAgreedWithPublishingName %}
        {% if feedback.url %}<a href="{{ feedback.url }}">{% endif %}
        {{ feedback.name }}
        {% if feedback.url %}</a>{% endif %}
        {% if detail == false %}o{% endif %}
    {% else %}
        Účastník školení
    {% endif %}

    {% if detail == false %}
        <a href="{{ path('training_detail', {'slug': feedback.training.slug }) }}">
            {{ feedback.training.name }}
        </a>
    {% endif %}
</p>
