{% extends 'base.twig' %}

{% set page_title %}
Sdílej své know-how
<br>Jednoduše, bez starostí
{% endset %}

{% block main %}
    <div class="container">
        <h1>{{ page_title }}</h1>

        <div class="text-bigger pb-3">
            <p>
                Pořádáme veřejná školení témat PHP ekosystému - od PHP frameworků, přes databáze, až po devops a Docker.
                <br>
                Typické školení je jednodenní a trvá 4-8 hodin.
            </p>
        </div>
    </div>

    <div class="background-grey section">
        <div class="container">
            <div class="text-center">
                <h2>Školitelé už posunuli {{ total_participant_count }} účastníků na {{ total_training_term_count }} školeních</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2>Proč začít školit s námi?</h2>

                <p>
                    <strong>Vyřešíme za tebe veškerou byrokracii</strong>. Ty se tak budeš moc věnovat jen tomu, <strong>co tě baví nejvíc</strong> - učit ostatní.
                </p>

                <ul class="mt-3">
                    <li>zařídíme místnost na konkrétní termín</li>
                    <li>zpropagujeme školení na sociálních sítích</li>
                    <li>dovedeme účastníky na místo školení</li>
                    <li>pokud začínáš, pomůžeme ti vybudovat osobní značku</li>
                    <li>zařídíme veškerou byrokracii s fakturací - ty jen pošleš jednu fakturu na provizi</li>
                    <li>vytiskneme materiály a profesionální certifikáty, které je radost si vystavit</li>
                </ul>

                <br>

                <div class="card shadow-card">
                    <div class="card-body">
                        <h2>Koho oslovíš?</h2>

                        <p><strong>Mediorní a seniorní programátory, kteří se chtějí vzdělávat v nových technologiích</strong>.</p>

                        <p>
                            Nečekej úvod do PHP, objektů, Nette nebo Symfony, ale spíše "Jak zlepšit X Symfony aplikacích". No stačí se mrknout na <a href="{{ path('trainings') }}">aktuální nabídku školení</a>.
                        </p>

                        <p>P.S.: Když budeš úspěšný, dostaneme tě i do firem :).</p>
                    </div>
                </div>

                <br>

                <h2>Kde budeš školit?</h2>

                <p>
                    Aktuálně máme zázemí ve <a href="{{ path('place_detail') }}">školícím centru na Praze 7</a>.
                </p>

                <div class="row mt-3 mb-3">
                    <div class="col-12 col-md-6">
                        <img src="{{ asset('assets/images/trainings/training01.jpg') }}" alt="" class="shadow">
                    </div>

                    <div class="col-12 col-md-6">
                        <img src="{{ asset('assets/images/places/jablotron.jpg') }}" alt="" class="shadow">
                    </div>
                </div>

                <p>Chceš školit v Brně, Ostravě nebo jinde? Máš místo, kde budeš školit? Super, uděláme školení tam!</p>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card shadow-card">
                    <div class="card-body">
                        <h2>Jakou budeš mít provizi?</h2>

                        <ul class="mb-5">
                            <li>Prvních 5 školení dostaneš <strong>50 % ze zisku</strong></li>
                            <li>Až se zaběhneme, tak za 6. a další se tvá zvýší na <strong>70 %</strong></li>
                        </ul>

                        <p>Příklad:</p>
                        <ul class="mt-2">
                            <li>tvé školení stojí 5 000 Kč, přijde 5 lidí = 25 000 Kč</li>
                            <li>nájem bude 5000 Kč - náklady bereme společně</li>
                            <li>budeme 20 000 Kč v zisku</li>
                            <li>za 1. školení dostaneš <strong>10 000 Kč</strong></li>
                            <li>za 6. a další <strong>14 000 Kč</strong></li>
                        </ul>
                    </div>
                </div>

                <br>

                <h2>Jak začít?</h2>

                <ul class="mb-4">
                    <li>Vymysli si, co chceš školit</li>
                    <li>Mrkni na <a href="{{ path('trainings') }}">existující školení</a>, jestli téma už někdo nemá</li>
                    <li>
                        Otevři si jedno školení, ať máš představu, jak vypadá jeho popis, třeba <a href="{{ path('training_detail', {'slug': example_training.slug }) }}">
                            {{ example_training.name }}
                        </a>
                    </li>
                    <li>Připrav si svůj návrh</li>
                    <li>
                        Když se nám téma bude líbit, půjdeme do toho
                    </li>
                </ul>

                <p>
                    <a class="btn btn-success" href="{{ path('contact') }}">Napiš nám</a>
                </p>
            </div>
        </div>
    </div>

    <br>
{% endblock %}
