{% extends 'base.twig' %}

{% block main %}
    <div class="container" id="trainings">
        <h1>
            Sdílej své know-how
            <br>Jednoduše, bez starostí
        </h1>

        <hr>

        <div class="row">
            <div class="col-6">
                <p>become_trainer
                    Veřejná školení v rámci PHP ekosystému, vycházející z komunity Péhápkaři.cz.
                    O délce 4-8 hodin.
                </p>

                <p>Od června proběhlo X školení pro Y lidí (@todo vypsat nejaktivnějíš) a dalšími. Chceš se přidat?</p>

                <p><strong>
                    Skolitele si u nás přišli na xxx kč @todo
                </strong></p>

                <br>

                <div class="card shadow-card">
                    <div class="card-body">
                        <h2>Kde?</h2>

                        <p>Zatím školíme pouze v <a href="{{ path('place_detail') }}">Praze 7 - Holešovicích</a></p>
                        <p>Chceš školit v Brně, Ostravě nebo jinde? Máš místo, kde budeš školit? Super, uděláme školení tam!</p>
                    </div>
                </div>

                <br>

                <div class="card shadow-card">
                    <div class="card-body">
                        <h2>Koho oslovíš?</h2>

                        <p>Středně pokročilé a seniorní programátoy, kteří se chtějí vzdělávat v nových technologiích. Neplánuj úvod do PHP, objektů, Nette nebo Symfony, ale spíše "Jak zlepšit výkon Symfony aplikacích".</p>

                        <p>Pro představu stačí mrknout na <a href="{{ path('trainings') }}">aktuální nabídku školení</a></p>

                        <p>Když budeš úspěšný, dostaneme tě i do firem.</p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <h2>Co řešíme za tebe?</h2>

                <ul class="mb-5">
                    <li>zařídit místnost a termín</li>
                    <li>dovedeme účastníky na místo školení</li>
                    <li>propagaci na sociálních sítích Péhápkaři</li>
                    <li>mentoring v budování osobní značky, propagate na <a href="{{ path('blog') }}">komunitním blogu</a> tak, aby měli smysl a hodnotu</li>
                    <li>veškerou byrokracii a fakturaci k účastníkům</li>
                    <li>tiskové materiály a profesionální certifikáty, které je radost si vystavit</li>
                    <li>občerstvení</li>
                </ul>

                <div class="card shadow-card">
                    <div class="card-body">
                        <h2>Jakou budeš mít provizi?</h2>

                        <ul class="mb-5">
                            <li>Prvních 5 školení dostaneš <strong>50 % ze zisku</strong></li>
                            <li>Za 6. a další - až se ve spolupráci zaběhneme - dostaneš <strong>70 %</strong></li>
                        </ul>

                        <p class="mb-2">Příklad:</p>
                        <ul>
                            <li>tvé školení stojí 5 000 Kč</li>
                            <li>přijde 5 lidí = 25 000 Kč</li>
                            <li>nájem bude 5000 Kč - náklady bereme společně</li>
                            <li>budeme 20 000 Kč v zisku</li>
                            <li>za 1. školení dostaneš 10 000 Kč, za 6. už krásných <strong>14 000 Kč</strong></li>
                            <li>za den dobrý, což? :)</li>
                        </ul>
                    </div>
                </div>

                <h2>Jak začít?</h2>

                <ul class="mb-5">
                    <li>Vymysli si, co chceš školit</li>
                    <li>Mrkni na <a href="{{ path('trainings') }}">existující školení</a>, jestli téma už někdo nemá</li>
                    <li>Otevři si jedno školení, ať máš představu, jak vypadá jeho popis</li>
                    <li><a href="{{ path('contact') }}">Napiš nám</a> svůj návrh</li>
                    <li>
                        Když se nám téma bude líbit, půjdeme do toho
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
