{% extends 'base.twig' %}

{% set page_title %}{{ training.getName() }}{% endset %}

{% block main %}
    <div id="trainings" class="container">
        <h1>{{ page_title }}</h1>

        <div class="card mt-4 mb-4">
            <div class="card-body text-bigger">
                {{ training.perex|markdown|raw }}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card shadow-card">
                    <div class="card-body">
                        {{ training.getDescription()|markdown|raw }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div>
                    {% if trainer.getImage() %}
                        {% if trainer.getWebsite() %}<a href="{{ trainer.getWebsite() }}">{% endif %}
                            <img width="100" src="{{ image_uploads }}/{{ trainer.getImage() }}" class="img-thumbnail mb-3 rounded-circle pull-left mr-3 shadow">
                        {% if trainer.getWebsite() %}</a>{% endif %}
                    {% endif %}

                    <div class="mb-4">
                        <h3>Kdo školí?</h3>

                        {% if trainer.getWebsite() %}<a href="{{ trainer.getWebsite() }}">{% endif %}
                            {{ trainer.getName() }}
                        {% if trainer.getWebsite() %}</a>{% endif %}

                        {% if trainer.getBio() %}
                            <p>„{{ trainer.getBio()|raw }}“</p>
                        {% endif %}
                    </div>
                </div>

                {% if training_term is not null %}
                    {% if training_term.registrationOpened() %}
                        <div class="card border-warning mt-3 mb-4">
                            <div class="card-body bg-warning">
                                Uzavěrka přihlášek
                                <strong>{{ training_term.getDeadlineDateTime()|date }}</strong>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% include "_snippet/when_where_price.twig" %}

                {% if training.isActive() %}
                    {% if training_term.registrationOpened() %}
                        <div class="text-center">
                            <a href="{{ path('registration', { 'slug': training_term.slug }) }}" class="btn btn-success mt-4 mb-5 d-block">
                                <em class="fa fa-fw fa-handshake"></em>
                                &nbsp;
                                Přihlásit se
                            </a>
                        </div>
                        <br>
                    {% endif %}
                {% elseif training_term is not null %}
                    <br>
                    <p>Poslední školení bylo {{ training_term.getStartDateTime|date("j. n. Y") }}.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="background-grey black_underline_links text-center section mb-0">
        <div class="container" id="feedbacks">
            {% include '_snippets/training/training_feedbacks.twig' %}
        </div>
    </div>

    {# @todo action step #}
{% endblock %}
