{% extends "base.twig" %}

{% block main %}
    <div id="trainings">
        <div class="section">
            <h1 class="text-center">Investuj do sebe a přijď na školení</h1>

            <p class="text-center subtitle">
                Rozšiř si své know-how od odborníků v PHP.<br>
                Pořádáme školení na Docker, Elasticsearch, Doctrine, PHPStorm, Gitlab, CI + CD, X-Debug a další.
            </p>
        </div>

        <hr>

        <br>

        <div class="row">
            {% for upcoming_training_term in upcoming_training_terms %}
                {% set training = upcoming_training_term.getTraining() %}
                <div class="flex col-md-6">
                    <h2>
                        <a href="{{ path('training_detail', { 'slug': training.getSlug() }) }}/">
                            <strong>{{ training.getName()|raw }}</strong>
                        </a>
                    </h2>

                    <a href="{{ path('training_detail', { 'slug': training.getSlug() }) }}/" class="d-block text-center pt-xl-5 pb-xl-5 border-secondary border mb-3 mt-3">
                        {% if training.getImage() %}
                            <img src="{{ image_uploads }}/{{ training.getImage() }}" width="150" alt="">
                        {% endif %}

                        {% set trainer = training.getTrainer() %}
                        {% if trainer.getImage() %}
                            <img width="120" src="{{ image_uploads }}/{{ trainer.getImage() }}" class="img-thumbnail ml-5 rounded-circle pull-right" alt="">
                        {% endif %}
                    </a>

                    {% if training.getPerex() %}
                        <p>{{ training.getPerex()|raw }}</p>
                    {% endif %}

                    <div class="mt-4 mb-4 text-bigger">
                        <p>Příští termín: <strong>{{ upcoming_training_term.getStartDateTime()|date }}</strong></p>

                        {% if upcoming_training_term.isRegistrationOpen() %}
                            <p class="text-danger">
                                Uzavírka přihlášek: <strong>{{ upcoming_training_term.getDeadlineDateTime()|date }}</strong>
                            </p>
                        {% else %}
                            <p class="text-black-50">
                                Přihlášky byly uzavřeny {{ upcoming_training_term.getDeadlineDateTime()|date }}
                            </p>
                        {% endif %}
                    </div>

                    <p>
                        Lektor:
                        <strong>
                            {% if training.getTrainerWebsite() %}
                            <a href="{{ training.getTrainerWebsite() }}">
                                {% endif %}

                                {{ training.getTrainerName() }}

                                {% if training.getTrainerWebsite() %}
                            </a>
                            {% endif %}
                        </strong>
                    </p>

                    {% if upcoming_training_term.isRegistrationOpen() %}
                        <a href="{{ path('registration', { 'slug': upcoming_training_term.getSlug() }) }}" class="btn btn-success btn-xs-block-only">
                            <em class="fa fa-fw fa-handshake"></em>
                            &nbsp;
                            Přihlaš se
                        </a>
                    {% endif %}

                    <br>
                </div>
            {% endfor %}
        </div>

        <br>

        <div class="text-center text-smaller" id="tranings_without_term">
            <p>Další kurzy, které teď nemají vypsaný termín:</p>

            <p>
                {% for inactive_training in inactive_trainings %}
                    <a href="{{ path('training_detail', { 'slug': inactive_training.getSlug() }) }}/">
                        {{ inactive_training.getName()|raw }}
                    </a>
                    {% if loop.last == false %}&nbsp;•&nbsp;{% endif %}
                {% endfor %}
            </p>
        </div>
    </div>

    <hr>

    <div>
        <div class="text-center">
            <h2 class="mb-5">
                Přes 120 spokojených účastníků
            </h2>

            <div class="mb-3">
                {% for i in 1..average_training_rating_stars %}
                    <em class="fas fa-2x fa-star text-warning"></em>
                {% endfor %}
            </div>
            <p class="bigger">
                <strong>{{ average_training_rating }}</strong>
            </p>

            <p class="mb-5">Průměrné hodnocení školení</p>


            <div class="row narrower">
                {% for feedback in feedbacks %}
                    <div class="col-md-12 mb-5">
                        {% include "_snippets/training/single_feedback.twig" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <h2>Už {{ total_training_term_count }} proběhlých školení</h2>

        <p>
            Od <strong>května 2017</strong> jsme zorganizovali {{ total_training_term_count }} veřejných školení od 5 odborných školitelů.
        </p>

        <br>

        {# use photos from https://photos.google.com/share/AF1QipNQyjjItQ54KB6MDc5FJfiz2DNTK5tWmhHnaNpBnq7eoL-gtiAvwT3fqmgPfCmq5g?key=cnlhSmpmWndibEFDaHo1cXpzQmp3d2daVjVwdTBB#}

        <div id="gallery" class="row">
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training01.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training08.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training04.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training03.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training11.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training06.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training12.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training10.jpg" alt="">
            </div>
        </div>
    </div>

    <br>

    <hr>

    {#<div class="text-center" id="kde-skolime">#}
        {#<h2>Kde školíme</h2>#}
        {#<div class="row">#}
            {#{% for place in places %}#}
                {#<div class="col-md-6">#}
                    {#<p>#}
                        {#V prostorách <a href="{{ place.mapUrl }}">{{ place.getName() }}u</a>.#}
                    {#</p>#}

                    {#<a href="{{ place.mapUrl }}">#}
                        {#{% if place.getImage() %}#}
                            {#<p class="text-center mt-5 d-none d-sm-block">#}
                                {#<img src="{{ image_uploads }}/{{ place.getImage() }}" width="400" class="img-thumbnail">#}
                            {#</p>#}
                        {#{% endif %}#}
                    {#</a>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}

    {#<hr>#}

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Jak to probíhá</h3>
            <ul>
                <li>přihlásíš se přes formulář na kurz</li>
                <li>až se termín naplní, pošleme ti fakturu</li>
                <li>tu zaplatíš a můžeš se těšit na školení</li>
                <li><strong>pozvánku ti pošleme cca týden před termínem</strong></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3 class="text-center">Co máš v ceně kurzu?</h3>
            <ul>
                <li>certifikát o absolvování kurzu</li>
                <li>u celodenních kurzů tě zveme na oběd</li>
                <li>nepodnikající studenti denního studia mají 50 % slevu</li>
            </ul>

            <p>Nejsme plátci DPH.</p>
        </div>
    </div>

    <br>

    <hr>

    {% include "training/_snippet/partner_trainings.twig" %}
{% endblock %}
