{% extends "base.twig" %}

{% set page_title %}Investuj do sebe a přijď na školení{% endset %}

{% block main %}
    <div id="trainings" class="container">
        <h1>{{ page_title }}</h1>

        <div class="text-bigger pb-5">
            Rozšiř si své know-how od odborníků v PHP - 3x ročně v Praze.<br>
            Pořádáme školení na Elasticsearch, Doctrine, Symfony, Gitlab, Docker nebo PHPStorm.
        </div>

        <div class="row">
            {% for upcoming_training_term in upcoming_training_terms %}
                {# @var training \Pehapkari\Training\Entity\Training #}
                {% set training = upcoming_training_term.getTraining() %}
                <div class="col-12 col-lg-6 incognito-link-just-header">
                    <a href="{{ path('training_detail', { 'slug': training.getSlug() }) }}/">
                        <div class="card shadow-card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-2 mb-sm-0">
                                        Příští termín: <strong>{{ upcoming_training_term.getStartDateTime()|date }}</strong>
                                    </div>
                                    <div class="col-12 col-sm-6 text-danger">
                                        {% if upcoming_training_term.registrationOpened() %}
                                            Deadline: <strong>{{ upcoming_training_term.getDeadlineDateTime()|date }}</strong>
                                        {% else %}
                                            Přihlášky uzavřeny
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <h2>{{ training.getName()|raw }}</h2>

                                {% set trainer = training.getTrainer() %}
                                {% if trainer.getImage() %}
                                    <img width="80" src="{{ image_uploads }}{{ trainer.getImage() }}" class="training-face img-thumbnail rounded-circle" alt="" style="position: absolute">
                                {% endif %}

                                <div class="text-center mt-4 mb-4">
                                    <img src="{{ image_uploads }}{{ training.getImage() }}" width="150" alt="">
                                </div>

                                {% if training.getPerex() %}
                                    <p class="mt-3">{{ training.getPerex()|raw }}</p>
                                {% endif %}

                                <p class="mt-3">
                                    Lektor: <strong>{{ training.trainer.name }}</strong>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <br>

        {% if inactive_trainings|length %}
            <p class="mt-5 mb-5">
                Další kurzy, které teď nemají vypsaný termín:

                {% for inactive_training in inactive_trainings %}
                    <a href="{{ path('training_detail', { 'slug': inactive_training.getSlug() }) }}/">
                        {{ inactive_training.getName()|raw }}
                    </a>
                    {% if loop.last == false %}&nbsp;•&nbsp;{% endif %}
                {% endfor %}
            </p>

            <p class="mb-3">
                <strong>
                    Chybí tu téma, v kterém se vyznáš? Nečekej a <a href="{{ path('become_trainer') }}">začni ho školit</a>
                </strong>
            </p>
        {% endif %}
    </div>

    <div class="background-grey black_underline_links text-center section">
        <div class="container" id="feedbacks">
            <h2>Přes {{ total_participant_count }} spokojených účastníků</h2>

            {% include "training/_snippet/trainings_feedbacks.twig" with {"show_training_name": true} %}
        </div>
    </div>

    <div class="text-center container">
        <h2>Už {{ total_training_term_count }} proběhlých školení</h2>

        <p>
            Od <strong>května 2017</strong> jsme zorganizovali <strong>{{ total_training_term_count }} školení</strong>
            od {{ trainer_count }} odborných školitelů.
        </p>

        <br>

        {# use photos from https://photos.google.com/share/AF1QipNQyjjItQ54KB6MDc5FJfiz2DNTK5tWmhHnaNpBnq7eoL-gtiAvwT3fqmgPfCmq5g?key=cnlhSmpmWndibEFDaHo1cXpzQmp3d2daVjVwdTBB#}

        <div class="text-center row" id="gallery">
            <div class="col-6 col-md-4">
                <img src="{{ asset('assets/images/trainings/training01.jpg') }}" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img src="{{ asset('assets/images/trainings/training08.jpg') }}" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img src="{{ asset('assets/images/trainings/training04.jpg') }}" alt="">
            </div>
            <div class="col-6 col-md-4">
                <img src="{{ asset('assets/images/trainings/training03.jpg') }}" alt="">
            </div>
            <div class="col-6 col-md-4 hidden-sm-down">
                <img src="{{ asset('assets/images/trainings/training10.jpg') }}" alt="">
            </div>
            <div class="col-6 col-md-4 hidden-sm-down">
                <img src="{{ asset('assets/images/trainings/training11.jpg') }}" alt="">
            </div>

        </div>
    </div>

    <div class="background-grey black_underline_links section">
        <div class="text-center container">
            <h2>Kde školíme?</h2>

            <h3 class="text-center">
                <a href="{{ path('place_detail') }}">Jablotron Holešovice</a>
            </h3>

            <p>
                Školící místnost na kraji centra Prahy, dobře dostupné  MHD i autem.
                <br>
                <a href="{{ path('place_detail') }}">Jak se tam dostat?</a>
            </p>

            <a href="{{ path('place_detail') }}">
                <p class="mt-3">
                    <img src="{{ asset('assets/images/places/jablotron.jpg') }}" style="max-width: 18em" class="shadow-lg">
                </p>
            </a>

            <br>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Jak to probíhá</h2>
                <ul>
                    <li>přihlásíš se přes formulář na kurz</li>
                    <li>až se termín naplní, pošleme ti fakturu</li>
                    <li>tu zaplatíš a můžeš se těšit na školení</li>
                    <li><strong>pozvánku ti pošleme cca týden před termínem</strong></li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2>Co máš v ceně kurzu?</h2>
                <ul>
                    <li>certifikát o absolvování kurzu</li>
                    <li>u celodenních kurzů tě zveme na oběd</li>
                    <li>nepodnikající studenti denního studia mají 50 % slevu</li>
                </ul>

                <p>Nejsme plátci DPH.</p>
            </div>
        </div>
    </div>

    <div class="container">
        {% include "training/_snippet/partner_trainings.twig" %}
    </div>
{% endblock %}
