{% extends "base.twig" %}

{% block main %}
    <div id="trainings">
        <div class="section">
            <h1 class="text-center">Investuj do sebe a přijď na školení</h1>

            <p class="text-center subtitle">
                Rozšiř si své know-how od odborníků v PHP.<br>
                Pořádáme školení Symfony 4, Doctrine, Git, PHPStorm, Continuous delivery a další.
            </p>
        </div>

        <hr>

        <div class="row">
            {% for training in trainings %}
                {% if training.isActive() %}
                    <div class="flex col-md-6">
                        <h2>
                            <a href="{{ path('training-detail', { 'slug': training.getSlug() }) }}/">
                                <strong>{{ training.getName()|raw }}</strong>
                            </a>
                        </h2>

                        <a href="{{ path('training-detail', { 'slug': training.getSlug() }) }}/" class="d-block text-center pt-xl-5 pb-xl-5 border-secondary border mb-3 mt-3">
                            {% if training.getImage() %}
                                <img src="{{ image_uploads }}/{{ training.getImage() }}" width="150" alt="">
                            {% endif %}

                            {% set trainer = training.getTrainer() %}
                            {% if trainer.getImage() %}
                                <img width="120" src="{{ image_uploads }}/{{ trainer.getImage() }}" class="img-thumbnail ml-5 rounded-circle pull-right" alt="">
                            {% endif %}
                        </a>

                        {% if training.getPerex() %}
                            <p>{{ training.getPerex()|raw }}</p>
                        {% endif %}

                        <p>Příští termín: <strong>{{ training.getNearestTermDateTime()|date }}</strong></p>
                        <p>
                            Lektor:
                            <strong>
                                {% if training.getTrainerWebsite() %}
                                <a href="{{ training.getTrainerWebsite() }}">
                                    {% endif %}

                                    {{ training.getTrainerName() }}

                                    {% if training.getTrainerWebsite() %}
                                </a>
                                {% endif %}
                            </strong>
                        </p>

                        <a href="{{ path('registration', { 'slug': training.getNearestTermSlug() }) }}" class="btn btn-success btn-xs-block-only">
                            <em class="fa fa-fw fa-handshake"></em>
                            &nbsp;
                            Přihlaš se
                        </a>
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br>

        <hr>

        <br>

        <div class="text-center text-smaller">
            <p>Další kurzy, které teď nemají vypsaný termín:</p>
            <p>

                {% for training in trainings %}
                {% if training.isActive() == false %}
            <li>
                <a href="{{ path('training-detail', { 'slug': training.getSlug() }) }}/">
                    {{ training.getName()|raw }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            </p>
        </div>

        <hr>

        <h2 class="text-center mb-4">Chceš s něčím poradit, školení na míru nebo taky školit?</h2>

        <p>
            <a href="{{ path('contact') }}">Napiš nám</a> a do 2 dnů ti dáme vědět.
        </p>

        <br>

        <hr>

        <div class="text-center">
            <h2 class="mb-5">
                {{ word_by_count(finishedParticipantCount|length, ['spokojený účastník', 'spokojení účastnící', 'spokojených účastníků']) }}
            </h2>

            <div class="row narrower">
                <div class="col-md-6 text-left mb-4">
                    {# todo vybrat 2-3 top; ve formátu - https://laravelshift.com/ #}

                    na školení <a href="/kurz/docker-bez-predchozich-znalosti">Docker bez předchozích znalostí</a>:
                    <p class="mt-3">
                        <em>„Dobře připravené příklady s popsaným postupem.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/zacnete-debugovat-jako-profici-s-xdebugem">Začněte debugovat jako profíci s xdebugem!</a>:
                    <p class="mt-3">
                        <em>„Super nakopnutí jak zvýšit svoje schopnosti. Xdebug beru jako zlepšení vývoje, teď jen nabité dovednosti přenést do praxe.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/zacnete-debugovat-jako-profici-s-xdebugem">Začněte debugovat jako profíci s xdebugem!</a>:
                    <p class="mt-3">
                        <em>„Super individuální!“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/zacnete-debugovat-jako-profici-s-xdebugem">Začněte debugovat jako profíci s xdebugem!</a>:
                    <p class="mt-3">
                        <em>„Praktické ukázky :)“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/doctrine-2-pokrocile-pouziti">Doctrine 2 - Pokročilé použití</a>:
                    <p class="mt-3">
                        <em>„Nejvíc se mi líbil individuální přístup.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/doctrine-2-pokrocile-pouziti">Doctrine 2 - Pokročilé použití</a>:
                    <p class="mt-3">
                        <em>„Praktické ukážky, podanie problematiky lektorom a reálne príklady.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="https://www.linkedin.com/in/michael-kufner-cz">Michael Kufner</a>

                    na školení <a href="/kurz/doctrine-2-zaciname-pouzivat-orm">Doctrine 2 - Začínáme používat ORM</a>:
                    <p class="mt-3">
                        <em>„Výborné školení, obrovské množství informací, <strong>které jsem hned druhý den využil v kanceláři</strong>. Určitě to nebylo naposled! Na konci to bylo sice trochu hrr, ale vzhledem k tomu množství informací by nepomohly ani 4 hodiny navíc. Díky!“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="https://www.antstudio.cz">Adam Janča</a>

                    na školení <a href="/kurz/elasticsearch-zaciname-vyhledavat">Elasticsearch - Začínáme vyhledávat</a>:
                    <p class="mt-3">
                        <em>„Ze školení jsem nadšený! Výborný poměr teorie/praxe - dokážu si hned představit reálné využítí na skutečných projektech. Tomáš byl flexibilní a suprově reagoval na naše podněty - sdílel kód online, abychom ho nemuseli otrocky přepisovat. Díky moc za školení a těším se na další.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="https://entrydo.com/">Jan Mikeš, CTO &amp; Co-founder of Entrydo</a>

                    na školení <a href="/kurz/jak-na-rapidni-vyvoj-a-continuous-delivery">Jak na rapidní vývoj a Continuous Delivery</a>:
                    <p class="mt-3">
                        <em>„Školení bylo velmi přínosné a inspirativní. Získané dovednosti jsem hned aplikovat v praxi. <strong>Teď již žádný feedback loop není příliš dlouhý :)</strong>.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="https://www.neoweb.sk">Ing. Eduard Barnáš</a>

                    na školení <a href="/kurz/jak-na-rapidni-vyvoj-a-continuous-delivery">Jak na rapidní vývoj a Continuous Delivery</a>:
                    <p class="mt-3">
                        <em>„Príjemné prostredie, výborna téma a <strong>skvelý prednášajúci Ondrej Mirtes</strong>. <strong>Teória sa prepája s praxou</strong>. Po tomto kurze bude Continuous Delivery hračkou. Vrelo odporúčam!“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/jak-na-rapidni-vyvoj-a-continuous-delivery">Jak na rapidní vývoj a Continuous Delivery</a>:
                    <p class="mt-3">
                        <em>„Ondra měl jasno v tom co chce předat obecenstvu. <strong>Jeho školení nám pomohlo vylepšit systém našeho deploymentu</strong> a firemní procesy. Díky!“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="http://www.klabnik.cz/">Michal Klabník</a>

                    na školení <a href="/kurz/ovladni-php-storm-od-zakladu-po-profi-tipy">Ovládni PhpStorm - od základů po profi tipy</a>:
                    <p class="mt-3">
                        <em>„S PhpStormem jsem nikdy předtím nedělal a byla to super ukázka toho, co to všechno umí. <strong>Tomáš skvěle, lidsky a poutavě přednášel, nachystané to měl na jedničku</strong>.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">
                    <a href="https://www.keboola.com/">Ondřej Popelka, Keboola</a>

                    na školení <a href="/kurz/ovladni-php-storm-od-zakladu-po-profi-tipy">Ovládni PhpStorm - od základů po profi tipy</a>:
                    <p class="mt-3">
                        <em>„Vždycky jsem si myslel, že to co dělam složitě, určitě PhpStorm umí udelat nějak jednodušeji, ale dozvěděl jsem se, ze dělam složite i věci o kterých jsem si myslel, že je dělam jednoduše.“</em>
                    </p>
                </div>
                <div class="col-md-6 text-left mb-4">

                    na školení <a href="/kurz/ovladni-php-storm-od-zakladu-po-profi-tipy">Ovládni PhpStorm - od základů po profi tipy</a>:
                    <p class="mt-3">
                        <em>„Školení bylo super nakopnutí, abych se naučil PhpStorm používat efektivněji. Odnesl jsem si spoustu poznámek, které mám v plánu postupně zavést.“</em>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <h2>Už {{ finishedTrainingTermCount }} proběhlých školení</h2>

        <p>Od <strong>května 2017</strong> jsme zorganizovali 9 veřejných školení od 5 odborných školitelů.</p>

        <br>

        {# use photos from https://photos.google.com/share/AF1QipNQyjjItQ54KB6MDc5FJfiz2DNTK5tWmhHnaNpBnq7eoL-gtiAvwT3fqmgPfCmq5g?key=cnlhSmpmWndibEFDaHo1cXpzQmp3d2daVjVwdTBB#}

        <div id="gallery" class="row">
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training1.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training9.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training4.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training3.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training11.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training6.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training12.jpg" alt="">
            </div>
            <div class="col-md-3 col-sm-4 col-6">
                <img src="/assets/images/trainings/training10.jpg" alt="">
            </div>
        </div>
    </div>


    <br>

    <hr>

    {#<div class="text-center" id="kde-skolime">#}
        {#<h2>Kde školíme</h2>#}
        {#<div class="row">#}
            {#{% for place in places %}#}
                {#<div class="col-md-6">#}
                    {#<p>#}
                        {#V prostorách <a href="{{ place.mapUrl }}">{{ place.getName() }}u</a>.#}
                    {#</p>#}

                    {#<a href="{{ place.mapUrl }}">#}
                        {#{% if place.getImage() %}#}
                            {#<p class="text-center mt-5 d-none d-sm-block">#}
                                {#<img src="{{ image_uploads }}/{{ place.getImage() }}" width="400" class="img-thumbnail">#}
                            {#</p>#}
                        {#{% endif %}#}
                    {#</a>#}
                {#</div>#}
            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}

    {#<hr>#}

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Jak to probíhá</h3>
            <ul>
                <li>přihlásíš se přes formulář na kurz</li>
                <li>až se termín naplní, pošleme ti fakturu</li>
                <li>tu zaplatíš a můžeš se těšit na školení</li>
                <li><strong>pozvánku ti pošleme cca týden před termínem</strong></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h3 class="text-center">Co máš v ceně kurzu?</h3>
            <ul>
                <li>certifikát o absolvování kurzu</li>
                <li>u celodenních kurzů tě zveme na oběd</li>
                <li>nepodnikající studenti denního studia mají 50 % slevu</li>
            </ul>

            <p>Nejsme plátci DPH.</p>
        </div>
    </div>

    <br>

    <hr>

    <h2 class="text-center">Partnerská školení</h2>

    <p>
        Nauč se <a href="https://www.michalspacek.cz/skoleni/bezpecnost-php-aplikaci">Bezpečnost PHP aplikací</a> a další <a href="https://www.michalspacek.cz/skoleni">školení</a> v podání security experta <strong>Michala Špačka</strong>.
    </p>

    <p>
        A nasaj
        <a href="https://www.vzhurudolu.cz/kurzy/webova-koderina">Dnešní webovou kodéřinu</a>,
        <a href="https://www.vzhurudolu.cz/kurzy/wordpress">Wordpress</a>
        nebo
        <a href="https://www.vzhurudolu.cz/kurzy/javascript">Javascript</a>
        na
        <a href="https://www.vzhurudolu.cz/kurzy">frontendových školeních</a>
        ze <strong>Vzhůru dolů</strong>.
    </p>

    <p>
        Nastartuj se v PHP nebo si pořádně ujasni základy na <a href="https://www.martinhujer.cz/skoleni/">školeních</a>
        <a href="https://www.martinhujer.cz/skoleni/uvod-do-php/">Úvod do PHP</a> a
        <a href="https://www.martinhujer.cz/skoleni/objektove-programovani-v-php/">Objektové programování v PHP</a>,
        která pořádá <strong>Martin Hujer</strong>.
    </p>
{% endblock %}
